<form method="POST" action="api/productos/save">
    <div>
        <label for="title">Nombre del producto</label>
        <input type="text" name="title" required>
    </div>
    <div>
        <label for="price">Precio del producto</label>
        <input type="number" name="price" required>
    </div>
    </div>
    <div>
        <input type="submit">
    </div>
</form>